h1 {
        font-size: 2.5em;
        margin: 0;
        text-align: center;

    }


body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
    }


header {
        background-color: #080035;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

#score {
        margin: 0 auto;
        display: inline-block;
    }

main {
        color: #333;
        margin: 20px auto;
        max-width: 800px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    }



.fr-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 1.2em;
            color: #fff;
            background: linear-gradient(70deg, #080035, #0026ff);
            border: black;
            border-radius: 5px;
            cursor: pointer;
        }


.intro {
            margin-bottom: 50px;
        }


h2 {
        text-align: center;

    }

.bouton-revenir {
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}


.imgf15 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 360px;
    margin-top: -90px;
}



#conteneur {
    position: relative;
    width: 700px; /* Plus petit */
}

#zonerelier {
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    width: 100%;
    position: relative;
    z-index: 2;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bloc {
    padding: 10px;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    width: 280px; /* Taille réduite */
    font-size: 14px; /* Texte plus petit */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.bloc:hover {
    background: #eef7ff;
}

.bloc.selected {
    background: #cfe4ff;
}