/* Style pour la page d'accueil */


h1 {
        font-size: 2.5em;
        margin: 0;
        text-align: center;
    }


body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }


header {
        background-color: #0d293a;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

header img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin-right: 10px;
    }


main {
        color: #333;
        margin: 20px auto;
        max-width: 800px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    }


.fr-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 1.2em;
            color: #fff;
            background: linear-gradient(70deg, #F49918, #e4c47f);
            border: black;
            border-radius: 5px;
            cursor: pointer;
        }


.intro {
            margin-bottom: 50px;
        }

.reseaux {
            display: flex;
            gap: 20px;
            position: fixed;
            bottom: 20px;
            left: 20px;
        }

.reseaux img {
            width: 70px;
            height: 70px;
        }


.support {

            display: flex;
            gap: 20px;
            position: fixed;
            bottom: 20px;
            right: 20px;

        }

.support img {
            width: 70px;
            height: 70px;
        }