/* Style pour les questions */


h1 {
        font-size: 2.5em;
        margin: 0;
        text-align: center;

    }


body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
    }


header {
            background-color: #0d293a;
            color: #fff;
            padding: 20px;
            text-align: center;
        }


main {
        color: #333;
        margin: 20px auto;
    }


.fr-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 1.2em;
            color: #fff;
            background: linear-gradient(70deg, #F49918, #e4c47f);
            border: black;
            border-radius: 5px;
            cursor: pointer;
        }


.intro {
            margin-bottom: 50px;
        }


h2 {
        text-align: center;

    }

.bouton-revenir {
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.img1 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -120px;
    background-image: url("https://cdn.discordapp.com/attachments/1130794416442037332/1130794480968354836/image.png");
}

.img2 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -50px;
}

.img4 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -110px;
}

.img5 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.img6 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.img10 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.img11 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.img12 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.img13 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 200px;
    margin-top: -90px;
}


.img15 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}
