/* Style pour les questions */


h1 {
        font-size: 2.5em;
        margin: 0;
        text-align: center;

    }


body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
    }


header {
            background-color: #0d293a;
            color: #fff;
            padding: 20px;
            text-align: center;
        }


main {
        color: #333;
        margin: 20px auto;
    }


.fr-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 1.2em;
            color: #fff;
            background: linear-gradient(70deg, #080035, #0026ff);
            border: black;
            border-radius: 5px;
            cursor: pointer;
        }


.intro {
            margin-bottom: 50px;
        }


h2 {
        text-align: center;

    }

.bouton-revenir {
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.imgf1 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -120px;
}


.imgf2 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -50px;
}

.imgf4 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -110px;
}

.imgf5 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgf6 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgf10 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgf11 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgf12 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgf13 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 200px;
    margin-top: -90px;
}


.imgf15 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}


.imgm1 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgm2 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}


.imgm4 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 360px;
    margin-top: -90px;
}


.imgm5 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgm8 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgm10 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgm12 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}

.imgm14 img {
    display: block;
    margin: 2px auto;
    width: 550px;
    height: 350px;
    margin-top: -90px;
}
